# Deploy requirements i.e. streamlit dashboard
# uv pip install -r requirements.txt
# 
# datasets
# huggingface_hub
# geodatasets
# geopy
geopandas
folium
# fuzzywuzzy
# ipython
# ipykernel
# ipywidgets
# jupyterlab
langchain
langchain-cli
langchain-experimental
langchain-openai
# llm
mapclassify
matplotlib
# msal
openai
pandas
pyarrow
pymilvus
streamlit
# streamlit-authenticator
streamlit-folium
tabulate
# tiktoken
# torch
# transformers
watchdog