# uv pip install -r requirements.txt --find-links https://download.pytorch.org/whl/cpu
datasets
huggingface_hub
geodatasets
geopy
geopandas
folium
fuzzywuzzy
ipython
ipykernel
ipywidgets
jupyterlab
langchain
langchain-cli
langchain-experimental
langchain-openai
llm
mapclassify
matplotlib
msal
openai
pandas
pandasai
pyarrow
pymilvus[model]
python-Levenshtein
streamlit
streamlit-authenticator
streamlit-folium
tabulate
tiktoken
torch
transformers
watchdog